DccSoftCard {
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.95);
}
DccSoftCard:hover {
    background-color: rgba(249, 249, 249, 0.93);
    border: 1px solid rgb(220, 220, 220);
}